<!DOCTYPE html>
<html>
<head>
	<title>List|Students</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

	<button type="submit" style="margin-top: 20px; margin-left: 20px;"><a href="/student/add/">submit</a></button>
	<div class="Container">
		<h1>LIST OF STUDENTS</h1>
		<div class="table-responsive">
     <table class="table">
		<tbody>
		<tr>
			<th>First Name</th>
			<th>Surname</th>
			<th>id_number</th>
			<th>place_of_residence</th>
			<th>phone_number</th>
			<th>date_joined</th>
			<th>Registration Number</th>
			<th>Email</th>
			<th>More details</th>
			<th>Edit Details</th>
		</tr>
		{% for student in students %}
		<tr>
			<td>{{student.first_name}}</td>
			<td>{{student.last_name}}</td>
			<td>{{student.id_number}}</td>
			<td>{{student.place_of_residence}}</td>
			<td>{{student.phone_number}}</td>
			<td>{{student.date_joined}}</td>
			<td>{{student.registration_number}}</td>
			<td>{{student.Email}}</td>
			<td><a href="/student/detail/{{student.pk}}/">More details</a></td>
			<td><a href="/student/edit/{{student.pk}}/">Edit details</a></td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
</div>
</div>
</body>
</html>